.nav {
  background: rgba(255, 255, 255, 0.1);
}

.info-title {
  color: rgba(255, 255, 255, 0.6);
}

.scroled-nav {
  animation: showNav 150ms;
}

.unscroled-nav {
  animation: hideNav 150ms;
}

.showMenu {
  animation: showMenu 150ms;
}

.hideMenu {
  animation: hideMenu 150ms;
}

@keyframes showNav {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hideNav {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes showMenu {
  from {
    max-height: 0px;
    padding-bottom: 0;
  }
  to {
    max-height: 500px;
    padding-bottom: 1.25rem;
  }
}

@keyframes hideMenu {
  from {
    max-height: 500px;
    padding-bottom: 1.25rem;
  }
  to {
    max-height: 0px;
    padding-bottom: 0rem;
  }
}
