/* SolutionContent.module.css */
.section {
  padding: 7em 0;
  position: relative;
  width: 100%;
  background-attachment: fixed;
}

.container {
  margin-top: 3rem;
  max-width: 1050px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  color: white;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2%;
}

.content {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}

.grid-container {
  --min: 20ch;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;

  gap: var(--gap);
}

.grid-container > * {
  flex: 1 0 var(--min);
}

.quote {
  flex: 1 1 calc(2 * var(--min) + 3.75 * var(--gap));
}